@using EntityLayer.Concrete;
@model List<User>
@{
    ViewBag.Title = "Index";
}

<h1>Kullanıcı</h1>
<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />

<table class="table table-bordered">
    <tr>
        <th>UserId</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>İsim</th>
        <th>Firma</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.UserId</th>
            <td>@item.UserName</td>
            <td>@item.Password</td>
            <td>@item.Name</td>
            <td>@item.Firm.FirmName</td>
            <td><a href="/AdminUser/EditUser/@item.UserId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/AdminUser/DeleteUser/@item.UserId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/AdminUser/AddUser" class="btn btn-info">Yeni Kullanıcı Ekle</a>


