@model EntityLayer.Concrete.Warehouse
@{
    Layout = null;
}
<h1>Yeni Depo Ekleme Sayfası</h1>
<br />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("AddWarehouse", "AdminWarehouse", FormMethod.Post))
{
    <div class="form form-control">
        @Html.Label("Depo Adı")
        @Html.TextBoxFor(x => x.WarehouseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WarehouseName)
        <br />
        @Html.Label("Depo Kapasite")
        @Html.TextBoxFor(x => x.Capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Capacity)
        <br />
        <button class="btn btn-primary">Depo Ekle</button>

    </div>
}
